.App {
  text-align: center;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}

#app-title {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.4rem;
}
#timer-control button {
  margin: 0 auto;
}
.jumbotron {
  width: 500px;
  margin: auto;
  background-color: rgb(255, 99, 71) !important;
}
.alert {
  width: 60%;
  border: 1px solid;
  border-radius: 0 !important;
}

.input-group-prepend {
  margin-left: 3rem;
}
#timer-label {
  text-transform: capitalize;
}
